# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
.env.*

# Ignore virtual environments
venv/
.virtualenv/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project